<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=vY0KBnvD0T6ejprutvoEutE9NH4HTbQx"
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1680179823,
 'base': 'EUR',
 'date': '2023-03-30',
 'rates': {'AED': 4.004475,
  'AFN': 94.767684,
  'ALL': 113.703177,
  'AMD': 426.023542,
  'ANG': 1.965422,
  'AOA': 554.998172,
  'ARS': 227.109168,
  'AUD': 1.627405,
  'AWG': 1.962665,
  'AZN': 1.852727,
  'BAM': 1.96051,
  'BBD': 2.20189,
  'BDT': 116.961004,
  'BGN': 1.955253,
  'BHD': 0.411047,
  'BIF': 2268.851023,
  'BMD': 1.09037,
  'BND': 1.449182,
  'BOB': 7.53545,
  'BRL': 5.543006,
  'BSD': 1.09052,
  'BTC': 3.8019943e-05,
  'BTN': 89.58817,
  'BWP': 14.292338,
  'BYN': 2.753114,
  'BYR': 21371.245437,
  'BZD': 2.198181,
  'CAD': 1.475984,
  'CDF': 2232.525742,
  'CHF': 0.996538,
  'CLF': 0.031185,
  'CLP': 860.530592,
  'CNY': 7.498251,
  'COP': 5034.01867,
  'CRC': 589.248121,
  'CUC': 1.09037,
  'CUP': 28.894796,
  'CVE': 110.525543,
  'CZK': 23.523668,
  'DJF': 194.166494,
  'DKK': 7.448926,
  'DOP': 59.853802,
  'DZD': 147.831593,
  'EGP': 33.689371,
  'ERN': 16.355545,
  'ETB': 58.781059,
  'EUR': 1,
  'FJD': 2.410264,
  'FKP': 0.885661,
  'GBP': 0.881934,
  'GEL': 2.791211,
  'GGP': 0.885661,
  'GHS': 12.787308,
  'GIP': 0.885661,
  'GMD': 67.766045,
  'GNF': 9370.513105,
  'GTQ': 8.500423,
  'GYD': 230.654736,
  'HKD': 8.559331,
  'HNL': 26.826452,
  'HRK': 7.652513,
  'HTG': 169.026093,
  'HUF': 380.20113,
  'IDR': 16401.122429,
  'ILS': 3.911276,
  'IMP': 0.885661,
  'INR': 89.489746,
  'IQD': 1430.737415,
  'IRR': 46081.747456,
  'ISK': 148.09373,
  'JEP': 0.885661,
  'JMD': 164.805954,
  'JOD': 0.773513,
  'JPY': 144.686058,
  'KES': 144.157311,
  'KGS': 95.319577,
  'KHR': 4421.623161,
  'KMF': 495.571685,
  'KPW': 981.319004,
  'KRW': 1414.57473,
  'KWD': 0.334394,
  'KYD': 0.908783,
  'KZT': 491.009674,
  'LAK': 18448.338173,
  'LBP': 16369.629591,
  'LKR': 359.88464,
  'LRD': 176.747664,
  'LSL': 19.725168,
  'LTL': 3.219578,
  'LVL': 0.659553,
  'LYD': 5.213526,
  'MAD': 11.126332,
  'MDL': 20.054181,
  'MGA': 4703.559349,
  'MKD': 61.755725,
  'MMK': 2290.102079,
  'MNT': 3848.45887,
  'MOP': 8.816783,
  'MRO': 389.261783,
  'MUR': 50.102265,
  'MVR': 16.81891,
  'MWK': 1119.340598,
  'MXN': 19.723315,
  'MYR': 4.822162,
  'MZN': 68.800798,
  'NAD': 19.724511,
  'NGN': 501.886354,
  'NIO': 39.885828,
  'NOK': 11.358795,
  'NPR': 143.333365,
  'NZD': 1.746532,
  'OMR': 0.419836,
  'PAB': 1.09052,
  'PEN': 4.093761,
  'PGK': 3.842231,
  'PHP': 59.213625,
  'PKR': 309.298705,
  'PLN': 4.679082,
  'PYG': 7818.785004,
  'QAR': 3.969489,
  'RON': 4.948423,
  'RSD': 117.283502,
  'RUB': 84.312849,
  'RWF': 1199.381571,
  'SAR': 4.094335,
  'SBD': 9.013782,
  'SCR': 14.240539,
  'SDG': 648.769976,
  'SEK': 11.301529,
  'SGD': 1.448442,
  'SHP': 1.326708,
  'SLE': 23.402645,
  'SLL': 21534.800822,
  'SOS': 619.870667,
  'SRD': 39.128461,
  'STD': 22568.450621,
  'SVC': 9.541925,
  'SYP': 2739.650174,
  'SZL': 19.663242,
  'THB': 37.274312,
  'TJS': 11.908511,
  'TMT': 3.821746,
  'TND': 3.331061,
  'TOP': 2.567221,
  'TRY': 20.898499,
  'TTD': 7.402191,
  'TWD': 33.231527,
  'TZS': 2551.648162,
  'UAH': 40.07819,
  'UGX': 4127.917519,
  'USD': 1.09037,
  'UYU': 42.241487,
  'UZS': 12467.954856,
  'VEF': 2657062.449542,
  'VES': 26.588221,
  'VND': 25601.879737,
  'VUV': 129.830854,
  'WST': 2.963722,
  'XAF': 657.579867,
  'XAG': 0.045747,
  'XAU': 0.000553,
  'XCD': 2.946779,
  'XDR': 0.812853,
  'XOF': 657.579867,
  'XPF': 120.598942,
  'YER': 272.921627,
  'ZAR': 19.666886,
  'ZMK': 9814.632739,
  'ZMW': 23.365422,
  'ZWL': 351.098587}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
dataFrame  = pd.DataFrame(response.json())
dataFrame

     success   timestamp base        date        rates
AED     True  1680179823  EUR  2023-03-30     4.004475
AFN     True  1680179823  EUR  2023-03-30    94.767684
ALL     True  1680179823  EUR  2023-03-30   113.703177
AMD     True  1680179823  EUR  2023-03-30   426.023542
ANG     True  1680179823  EUR  2023-03-30     1.965422
..       ...         ...  ...         ...          ...
YER     True  1680179823  EUR  2023-03-30   272.921627
ZAR     True  1680179823  EUR  2023-03-30    19.666886
ZMK     True  1680179823  EUR  2023-03-30  9814.632739
ZMW     True  1680179823  EUR  2023-03-30    23.365422
ZWL     True  1680179823  EUR  2023-03-30   351.098587

[170 rows x 5 columns]

In [7]:
# Drop unnescessary columns
dataFrame.drop(columns=["success","timestamp","base","date"],inplace= True)
dataFrame

           rates
AED     4.004475
AFN    94.767684
ALL   113.703177
AMD   426.023542
ANG     1.965422
..           ...
YER   272.921627
ZAR    19.666886
ZMK  9814.632739
ZMW    23.365422
ZWL   351.098587

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [ ]:
# Save the Dataframe
dataFrame.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).